.ldBar {
  position: relative;
  padding-left: 2%;
}
.ldBar.label-center > .ldBar-label {
  position: relative;
  top: -60%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
  

}
.ldBar-label:after {
  content: "%";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
  
}


.LoveHeart {
  height: 5em;
  position: relative;
  font-family: sans-serif;

  
}
.LoveHeart p {
  margin: 0;
  color: red;
  font-weight: bold;
  font-size: 150%;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
  
}
body {
  margin: auto;
}

h1 {
  margin: 0;
}

body,h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}

.bgimage {
  background-image: url('/Images/bg.png');
  min-height: 100%;
  background-size: cover;
  
}
.logoTop{

  text-align: center;
  background-color: floralwhite;
  font-weight: bolder;
  font-size: 1.5cm;
}

.quote{

  text-align: center;
  font-style: italic;
  font-weight: bold;
}

form {
  margin: auto;
  padding: 1rem 1rem;
  font-family: sans-serif;
  font-weight: 530;
}

.checkboxes {
  margin: auto;
}

legend {
  font-size: larger;

}