.ldBar {
  position: relative;
}
.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
}
.ldBar-label:after {
  content: "%";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}


.LoveHeart {
  height: 5em;
  position: relative;
}
.LoveHeart p {
  margin: 0;
  color: red;
  font-weight: bold;
  font-size: 150%;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
body {
  margin: auto;
}

h1 {
  margin: 0;
}

body,h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}

.bgimage {
  background-image: url('/Images/vitor-pinto-5EtKHok-obE-unsplash.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}



form {
  margin: auto;
  padding: 1rem 1rem;
}

.checkboxes {
  margin: auto;
}
